
body {
  padding: 10px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.func-obj__func-block {

}

.func-obj__objects-list.is_expanded {
  display: block;
}

.func-obj__objects-list.is_collapsed {
  display: none;
}

.func-obj__expand-button {
  display: inline-block;
	height: 0;
	width: 0;
	border-color: #d9534f transparent;
  border-style: solid;
  margin: 2px;
}

.func-obj__expand-button.is_expanded {
  border-width: 0 5px 8px 5px;
}

.func-obj__expand-button.is_collapsed {
  border-width: 8px 5px 0 5px;
}

.func-obj__func-header {
  padding: 5px 2px 5px 2px;
}

.func-obj__objects-list {
    padding-left: 20px;
}
